---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Estudios from '../components/Estudios.astro';
import Idiomas from '../components/Idiomas.astro';
import Projects from '../components/Projects.astro';
import Links from '../components/Links.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Edgar Rodriguez - Desarrollador Web">
	<Header />
	<main>
		<Hero />
		<About />
		<Estudios />
		<Idiomas />
		<Projects />
		<Links />
		<Contact />
	</main>
	<Footer />
</Layout>
